@model Socialnet.Models.ProfileViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h3>@Html.ActionLink("Friends", "Friends")</h3>

@foreach (Socialnet.Models.Photo photo in Model.UserPhotos)
{
    <img src="@Url.Content("~/images/"+photo.Location)" height="100" width="100" />

}

@using (Html.BeginForm("FileUpload", "Profile", FormMethod.Post, 
                            new { enctype = "multipart/form-data" }))
{  
    <label for="file">Upload Image:</label> 
    <input type="file" name="file" id="file" style="width: 100%;" /> 
    <input type="submit" value="Upload" class="submit" /> 
}