<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/Site.css")

</head>
<body>

    <div class="block" style="height: 600px;">

        <div class="centered">
            @RenderBody()

        </div>

    </div>

</body>
</html>
